<section id="locate-me">
    <article class="google-location black-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-3 mt-5">
                    <h3 class="text-center text-white">Our Location</h3>
                </div>
            </div>
        </div>
        <div class="location">
            <div class="container">
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d115291.97324491663!2d55.45318227559145!3d25.44247021295952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3ef5f91cdfa4e34b%3A0x529e62f1f308197b!2sAL%20JURF%20-%20industrial%20area%202%20-%20Ajman%20-%20United%20Arab%20Emirates!3m2!1d25.442493199999998!2d55.5355838!5e0!3m2!1sen!2sin!4v1725041215224!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    
                </div> 
            </div>   
        </div>
    </article>
</section>
