{% extends 'home.html' %}

{% block content %}
{% include 'utils.html' %}

{% include 'section_hero.html' %}
  {% include 'section_how_it_works.html' %}
  {% include 'section_service.html' %}
  {% include 'section_badge_first.html' %}
  {% include 'section_brands.html' %}
  {% include 'section_whychoose.html' %}
  {% include 'section_recent_works.html' %}
  {% include 'faq_and_appoiment_section.html' %}
  {% include 'section_blog.html' %}
  {% include 'googlemap.html' %}




 
  

{% endblock %}