


<section class="d-flex flex-wrap justify-content-between justify-content-md-between justify-content-xl-between justify-content-l-between">
    <div class="col-md-6 mb-2 mb-md-0">
        <ul class="list-unstyled list-inline custom-margin-left">
            <li class="list-inline-item">
                <i class="bi bi-telephone-forward fs-3 text-white"></i>
                <a href="tel:+971505146744" class="text-white">
                    +971505146744
                </a>
            </li>
        </ul>
    </div>

    <div class="col-md-6 text-end custom-margin-right">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <span class="text-white"><i class="bi bi-geo-alt fs-3"></i><a href="google.com/maps?client=mobilesearchapp&sca_esv=3a6ec10a24ff1f4b&bih=797&biw=390&channel=iss&cs=0&hl=en&rlz=1MDAPLA_enAE937AE937&v=385.0.802777482&sxsrf=AE3TifOUZCnp1vKCXaa4SZElPdMV23Ejbg:1757856117739&kgmid=/g/11y5rqg3p2&shndl=30&shem=lsptbl1,shrtsdl&kgs=bbd36ae3ba6a4b14&um=1&ie=UTF-8&fb=1&gl=ae&sa=X&geocode=KUvjpN8c-fU-MXsZCPPxYp5S&daddr=AL+JURF+-+industrial+area+2+-+Ajman" class="text-white" target="_blank">Get Directions</a></span>
                <a href="google.com/maps?client=mobilesearchapp&sca_esv=3a6ec10a24ff1f4b&bih=797&biw=390&channel=iss&cs=0&hl=en&rlz=1MDAPLA_enAE937AE937&v=385.0.802777482&sxsrf=AE3TifOUZCnp1vKCXaa4SZElPdMV23Ejbg:1757856117739&kgmid=/g/11y5rqg3p2&shndl=30&shem=lsptbl1,shrtsdl&kgs=bbd36ae3ba6a4b14&um=1&ie=UTF-8&fb=1&gl=ae&sa=X&geocode=KUvjpN8c-fU-MXsZCPPxYp5S&daddr=AL+JURF+-+industrial+area+2+-+Ajman" class="text-white" target="_blank"></a>
            </li>
        </ul>
    </div>
</section>
