


<section class="d-flex flex-wrap justify-content-between justify-content-md-between justify-content-xl-between justify-content-l-between">
    <div class="col-md-6 mb-2 mb-md-0">
        <ul class="list-unstyled list-inline custom-margin-left">
            <li class="list-inline-item">
                <i class="bi bi-telephone-forward fs-3 text-white"></i>
                <a href="tel:+1382476279" class="text-white">
                    +971 0505489326
                </a>
            </li>
        </ul>
    </div>

    <div class="col-md-6 text-end custom-margin-right">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <span class="text-white"><i class="bi bi-geo-alt fs-3"></i><a href="https://www.google.com/maps/dir/?api=1&destination=Your+Destination+Address" class="text-white" target="_blank">Get Directions</a></span>
                <a href="https://www.google.com/maps/dir/?api=1&destination=Your+Destination+Address" class="text-white" target="_blank"></a>
            </li>
        </ul>
    </div>
</section>
