

<section id="main-hero-image" class="black-bg">
  <article class="hero-image">
  <div id="carouselExample" class="carousel slide " data-ride="carousel" data-interval="10">
      <div class="carousel-inner">
        <div class="carousel-item active " >
          <img src="../static/images/heroimage3.png"  class="img-fluid d-block w-100">
          <div class="carousel-caption d-lg-block text-start">
           
          </div>
        </div>
        <div class="carousel-item" >
          <img src="../static/images/heroimage1.png" class="img-fluid d-block w-100" >
          <div class="carousel-caption d-lg-block text-start">
              
          </div>
        </div>
        <div class="carousel-item" >
          <img src="../static/images/heroimage3.png" class="img-fluid d-block w-100" >
          <div class="carousel-caption d-lg-block text-start">
           
          </div>
        </div>
      </div>
      <button class="carousel-control-prev d-none d-md-block" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next d-none d-md-block" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>

  </article>
</section>


