<!-- <style>
    .rounded-border {
        max-width: 100%;
        height: auto;
        max-height: 100px; /* Set your desired max height */
        width: auto; /* Maintain aspect ratio */
       
      }

      .circles-wrapper {
        width: 200px;
        height: 200px;
      }
      
      .circle-ring  {
        border: 2px solid rgb(61, 60, 60);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
      }
      
      .circle-ring ::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background: #000000;
        top: -6px;
        border-radius: 50%;
        box-shadow: 0 0 10px 6px rgba(37, 37, 37, 0.8);
      }
      
      .circle-lg {
        width: 150px;
        height: 150px;
        animation: rotateCircles 3.1s linear infinite;
      }
      
      .circle-md {
        width: 130px;
        height: 130px;
        animation: rotateCircles 3s linear infinite;
      }
      
      .circle-md::before {
        width: 10px;
        height: 10px;
      }
      
      .circle-sm {
        width: 110px;
        height: 110px;
        animation: rotateCircles 2.5s linear infinite;
      }
      
      .circle-sm::before {
        width: 10px;
        height: 10px;
      }
      
      
      @keyframes rotateCircles {
        from {
          transform: rotate(0);
        } to {
          transform: rotate(360deg);
        }
      }
      .fixed-image-container {
        top:-150px;
        position: relative;
        left:-24px;
        z-index: 1; /* Ensure the image appears above the circles */
    }
     
    .service-description {
      margin-top: -20px; /* Adjust this value to reduce spacing */
      margin-bottom: 20px; /* Ensure there's no bottom margin */
      text-align: center; /* Optional: center the text */
  }
   
    
  
  </style> -->

  <style>
    .rounded-border {
      max-width: 100%;
      height: auto;
      max-height: 100px; /* Set your desired max height */
      width: auto; /* Maintain aspect ratio */
     
    }

  </style>
  
  <section id="badgeone" class="dark-bg lh-1 ">
    <article class="badge-first">
        <div class="container">
        <div class="text-center black-bg text-white  ">
            <div class="row  ">
                <div class="  col-6 col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2  dark-bg ">
                    
                    <div class="circles-wrapper">
                   
                        <div class="circle-ring circle-lg">
                          <div class="circle-ring circle-md">
                            <div class="circle-ring  circle-sm">
                                
                            </div>
                          </div>
                        </div>  
                        <div class="fixed-image-container">
                            <img src="../static/images/1.png" class="mt-4 mb-4 img-cover rounded-border img-fluid" alt="Free car checkup">
                        </div>  
                   
                    </div>
    
    
                           
                     
          
                  
                    <p class="service-description">Car Diagnostics</p>
    
                 
                </div>
                <div class=" col-6 col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2  dark-bg ">
                    <div class="circles-wrapper">
                   
                        <div class="circle-ring circle-lg">
                          <div class="circle-ring circle-md">
                            <div class="circle-ring  circle-sm">
                                
                            </div>
                          </div>
                        </div>  
                        <div class="fixed-image-container">
                            <img src="../static/images/2.png" class=" mt-4 mb-4 img-cover rounded-border img-fluid" alt="Instant Quote">
                        </div>  
                   
                    </div>
                    
                  
               
                    <p class="service-description">Instant Quote</p>
                </div>
                <div class=" col-6 col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2   dark-bg">
                    <div class="circles-wrapper">
                   
                        <div class="circle-ring circle-lg">
                          <div class="circle-ring circle-md">
                            <div class="circle-ring  circle-sm">
                                
                            </div>
                          </div>
                        </div>  
                        <div class="fixed-image-container">
                            <img src="../static/images/3.png" class=" mt-4 mb-4 img-cover rounded-border img-fluid" alt="Qualified Staff">
                        </div>  
                   
                    </div>
                    
                    
                  
               
                    <p class="service-description">Qualified Staff</p>
                </div>
                <div class=" col-6 col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2   dark-bg">
                    <div class="circles-wrapper">
                   
                        <div class="circle-ring circle-lg">
                          <div class="circle-ring circle-md">
                            <div class="circle-ring  circle-sm">
                                
                            </div>
                          </div>
                        </div>  
                        <div class="fixed-image-container">
                            <img src="../static/images/4.png" class=" mt-4 mb-4 img-cover rounded-border img-fluid" alt="Repair Warranty">
                        </div>  
                   
                    </div>
                   
                    
               
                    <p class="service-description">Repair Warranty</p>
                </div>
                <div class=" col-6 col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2   dark-bg">
    
                    <div class="circles-wrapper">
                   
                        <div class="circle-ring circle-lg">
                          <div class="circle-ring circle-md">
                            <div class="circle-ring  circle-sm">
                                
                            </div>
                          </div>
                        </div>  
                        <div class="fixed-image-container">
                            <img src="../static/images/5.png" class="mt-4 mb-4 img-cover rounded-border img-fluid" alt="Pick-Up & Delivery">
                        </div>  
                   
                    </div>
                   
                    
                  
                   
               
                    <p class="service-description">Pick-Up & Delivery</p>
                </div>
                <div class=" col-6 col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2   dark-bg">
                    <div class="circles-wrapper">
                   
                        <div class="circle-ring circle-lg">
                          <div class="circle-ring circle-md">
                            <div class="circle-ring  circle-sm">
                                
                            </div>
                          </div>
                        </div>  
                        <div class="fixed-image-container">
                            <img src="../static/images/6.png" class=" mt-4 mb-4 img-cover rounded-border img-fluid" alt="Dedicated customer care service">
                        </div>  
                   
                    </div>
                   
                    
                
                    <p class="service-description">Online Support</p>
                </div>
               
              
               
              
    
                    
                   
          
            </div>
    </div>
        </div>
  
  
    </article>
  </section>   